<div class="breadcurb-area">
    <div class="container">
        <ul class="breadcrumb">
            <li>Productos / @ViewBag.Parametro</li>
        </ul>
    </div>
</div><!-- End Breadcurb Area -->
