<!-- Footer area -->
<div class="footer-area">
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!-- Footer Left -->
                    <div class="footer-left">
                        <!-- Footer Logog -->
                        <div class="footer-logo">
                            <a href="~/Productos"><img src="~/assets/img/logo/logo.png" alt="logo"></a>
                        </div>
                        <div class="footer-static-content">
                            <p>Te ofrecemos los mejores productos agrícolas de la region. Productos frescos directos del campo a tus manos.</p>
                        </div>
                        <div class="footer-payment">
                            <h2>Pagos</h2>
                            <ul>
                                <li><a href="#"><img src="~/assets/img/logo/payment.png" alt="payment"></a></li>
                            </ul>
                        </div>
                    </div><!-- End Footer Left -->
                </div>
                <div class="col-md-8 footer-right-col">
                    <!-- Footer Right -->
                    <div class="footer-right">
                        <div class="footer-newsletter">
                            @*<form action="#">
                                    <h2>Newsletter</h2>
                                    <input type="text" title="Sign up for our newsletter" required>
                                    <button type="submit">Subscribete</button>
                                </form>*@
                        </div>
                        <div class="information-link">
                            <div class="single-information-link">
                                <h2>Información</h2>
                                <ul>
                                    <li><a href="#">Mapa de Sitio</a></li>
                                    <li><a href="#">Políticas de privacidad</a></li>
                                    <li><a href="#">Tu Cuenta</a></li>
                                    <li><a href="#">Búsqueda Avanzada</a></li>
                                    <li><a href="#">Contáctanos</a></li>
                                </ul>
                            </div>
                            <div class="single-information-link">
                                <h2>Otros</h2>
                                <ul>
                                    <li><a href="#">Productos</a></li>                                   
                                    <li><a href="#">Volver a la página Principal</a></li>
                                    <li><a href="#">Opciones de Envío</a></li>
                                    <li><a href="#">Ayuda</a></li>
                                </ul>
                            </div>
                            <div class="single-information-link">
                                <h2> Mi Cuenta </h2>
                                <ul>
                                    <li><a href="#">Mi carrito de compras</a></li>
                                    <li><a href="#">Mis direcciones</a></li>
                                    <li><a href="#">Mi información Personal</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- End Footer Left -->
                </div>
            </div>
        </div>
    </div><!-- End Footer Top -->
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <!-- Copyright -->
            <div class="copyright">
                <p>Copyright &copy; <a href="http://bootexperts.com/">BootExperts</a> All Rights Reserved.</p>
            </div>
        </div>
    </div><!-- End Footer Bottom -->
</div><!-- End Footer area -->