@model IEnumerable<ecommerce.protume.Models.DataBase.detalleProducto>

@{

    ViewBag.Title = "Productos";
}



<!-- Main Slider Area -->
<div class="main-slider-area">
    <!-- Main Slider -->
    <div class="main-slider">
        <div class="slider">
            <div id="mainSlider" class="nivoSlider slider-image">
                <img src="~/assets/img/slider/slider2.jpg" alt="main slider" title="#htmlcaption1" />
                <img src="~/assets/img/slider/slider1.jpg" alt="main slider" title="#htmlcaption2" />
                <img src="~/assets/img/slider/slider3.jpg" alt="main slider" title="#htmlcaption1" />
                <img src="~/assets/img/slider/slider4.jpg" alt="main slider" title="#htmlcaption1" />
                <img src="~/assets/img/slider/slider5.jpg" alt="main slider" title="#htmlcaption1" />
                <img src="~/assets/img/slider/slider6.jpg" alt="main slider" title="#htmlcaption1" />
            </div>
            <!-- Slider Caption One -->
            <div id="htmlcaption1" class="nivo-html-caption slider-caption-1 hidden-xs">
                <div class="slider-progress"></div>
                <div class="slide-text">
                    <div class="middle-text">
                        <div class="cap-title wow zoomInUp" data-wow-duration=".9s" data-wow-delay="0s">
                            <h2>At Finally started...</h2>
                        </div>
                        <div class="cap-dec">
                            <h1 class="wow zoomInUp" data-wow-duration="1.1s" data-wow-delay="0s">Nuevas ofertas</h1>
                            <p class="wow zoomInUp" data-wow-duration="1.3s" data-wow-delay="0s"> productos frescos todos lo dias</p>
                        </div>
                        <div class="cap-readmore wow zoomInUp" data-wow-duration="1.3s" data-wow-delay=".3s">
                            <a href="#">Explorar ahora</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider Caption Two -->
            @*<div id="htmlcaption2" class="nivo-html-caption slider-caption-2 hidden-xs">
                    <div class="slider-progress"></div>
                    <div class="slide-text">
                        <div class="middle-text">
                            <div class="cap-title wow zoomInRight" data-wow-duration=".9s" data-wow-delay="0s">
                                <h2>At Finally started...</h2>
                            </div>
                            <div class="cap-dec">
                                <h1 class="cap-dec wow zoomInRight" data-wow-duration="1.1s" data-wow-delay="0s">Huge sale</h1>
                                <p class="cap-dec wow zoomInRight" data-wow-duration="1.3s" data-wow-delay="0s"> up to 70% off Fahion collection Shop now</p>
                            </div>
                            <div class="cap-readmore wow zoomInRight" data-wow-duration=".9s" data-wow-delay=".5s">
                                <a href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div><!-- End Main Slider -->
</div><!-- End Main Slider Area -->
<!-- Product Area -->
<div class="product-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="product-top-bar customize-tab-bar">

                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#p-bestseller" data-toggle="tab"><i class="fa fa-pencil-square-o"></i>Nuevos productos</a></li>
                        @*<li role="presentation"><a href="#p-new" data-toggle="tab"><i class="fa fa-star"></i>New Products</a></li>
                            <li role="presentation"><a href="#p-random" data-toggle="tab"><i class="fa fa-picture-o"></i>Random Products</a></li>*@
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <!-- Single Product area -->
                <div class="single-product-area c-carousel-button">
                    <!-- Tab Content -->
                    <div class="tab-content">
                        <!-- Tab Pane One -->
                        <div class="tab-pane active" id="p-bestseller">
                            <div class="row">
                                <!-- Single Product Carousel-->
                                <div id="single-product-bestseller" class="owl-carousel">
                                    @foreach (var item in Model)
                                    {

                                        var imag = @item.productoImagen.FirstOrDefault();
                                        string img = imag == null ? "no_disponible.jpg" : imag.imagen;

                                        <div class="col-md-3">
                                            <div class="single-product">
                                                <div class="single-product-img">
                                                    <a href="#">
                                                        <img class="primary-img" src="~/ImgProductos/@img" alt="product">
                                                        @*<img class="secondary-img" src="~/ImgProductos/20180715013507.jpg" alt="product">*@
                                                    </a>
                                                    @*<div class="product-status">
                                                            <span class="product-new">New</span>
                                                        </div>*@
                                                </div>
                                                <div class="single-product-content">
                                                    <div class="product-content-head">
                                                        <h2 class="product-title"><a href="#">@item.producto.nombre</a></h2>
                                                        <p class="product-price">$@item.precio</p>
                                                    </div>
                                                    <div class="product-bottom-action">
                                                        <div class="product-action">
                                                            <div class="action-button">
                                                                <button class="btn" type="button"><i class="fa fa-shopping-cart"></i> <span>Al Carrito</span></button>
                                                            </div>
                                                            <div class="action-view">
                                                                <button type="button" class="btn" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i>Detalles</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                </div><!-- End Single Product Carousel-->
                            </div>
                        </div><!-- End Tab Pane One -->


                    </div><!-- End Tab Content -->
                </div><!-- End Single Product area -->
            </div>
        </div>
    </div>
</div><!-- End Product area -->
